<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.velkavo.velkarod</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/velkarod</string>
        <string>--config-file</string>
        <string>/usr/local/etc/velkavo/velkavo.conf</string>
        <string>--non-interactive</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/usr/local/var/log/velkavo/velkarod.log</string>

    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/velkavo/velkarod.log</string>
</dict>
</plist>
