[Unit]
Description=Velkavo Daemon
After=network.target

[Service]
Type=simple
User=velkavo
ExecStart=/usr/local/bin/velkarod --config-file /etc/velkavo/velkavo.conf --non-interactive
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
